{% include helpers.liquid %}
{% if ashe.navigation.enabled %}
<div id="main-nav" class="clear-fix">
  <div{% if ashe.general.header_width == 'contained' %} class="boxed-wrapper"{% endif %}>
    {% if ashe.navigation.show_sidebar %}
    <div class="main-nav-sidebar">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    {% endif %}

    {% if ashe.navigation.mini_logo and ashe.navigation.mini_logo != '' %}
    <div class="mini-logo">
      <a href="{{ '/' | relative_url }}" title="{{ site.title }}">
        <img src="{{ ashe.navigation.mini_logo | relative_url }}" alt="{{ site.title }}">
      </a>
    </div>
    {% endif %}

    <div class="main-nav-icons">
      {% if ashe.skins.dark_mode_switcher and ashe.skins.select != 'dark' %}
      <div class="dark-mode-switcher">
        <i class="fa-regular fa-moon" aria-hidden="true"></i>
      </div>
      {% endif %}
      {% if ashe.navigation.show_search %}
      <div class="main-nav-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-xmark"></i>
        {% include search-form.html %}
      </div>
      {% endif %}
    </div>

    <nav class="main-menu-container">
      <ul id="main-menu">
        {% for item in nav.main %}
        <li class="{% if item.children %}menu-item-has-children{% endif %}">
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% if item.children %}
          <ul class="sub-menu">
            {% for child in item.children %}
            <li class="{% if child.children %}menu-item-has-children{% endif %}">
              <a href="{{ child.url | relative_url }}">{{ child.title }}</a>
              {% if child.children %}
              <ul class="sub-menu">
                {% for grandchild in child.children %}
                <li><a href="{{ grandchild.url | relative_url }}">{{ grandchild.title }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>

    <span class="mobile-menu-btn">
      {% if ashe.responsive.menu_icon == 'chevron-down' %}
      <i class="fa-solid fa-chevron-down"></i>
      {% else %}
      <a>{{ ashe.responsive.mobile_icon_text }}</a>
      {% endif %}
    </span>

    <nav class="mobile-menu-container">
      <ul id="mobile-menu">
        {% for item in nav.main %}
        <li class="{% if item.children %}menu-item-has-children{% endif %}">
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% if item.children %}
          <ul class="sub-menu">
            {% for child in item.children %}
            <li class="{% if child.children %}menu-item-has-children{% endif %}">
              <a href="{{ child.url | relative_url }}">{{ child.title }}</a>
              {% if child.children %}
              <ul class="sub-menu">
                {% for grandchild in child.children %}
                <li><a href="{{ grandchild.url | relative_url }}">{{ grandchild.title }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
        {% if ashe.navigation.merge_mobile_menu %}
          {% for item in nav.top %}
          <li class="{% if item.children %}menu-item-has-children{% endif %}">
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% if item.children %}
            <ul class="sub-menu">
              {% for child in item.children %}
              <li><a href="{{ child.url | relative_url }}">{{ child.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>

  </div>
</div>
{% endif %}
